<div class="container">
  <div class="ui-g">
    <form autocomplete="off" (ngSubmit)="pesquisar()">
      <div class="ui-g-12">
        <h1>Pessoas</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Nome</label>
        <input pInputText type="text" name="nome" [(ngModel)]="filtro.nome" />
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Pesquisar"></button>
      </div>

    </form>
  </div>
  <div class="ui-g">
    <div class="ui-g-12">
      <p-table [value]="pessoas" [paginator]="true" [responsive]="true" [rows]="filtro.itensPorPagina"
               (onLazyLoad)="aoMudarPagina($event)" [lazy]="true" [totalRecords]="totalRegistros" #tabela>
        <ng-template pTemplate="header">
          <tr>
            <th>Codigo</th>
            <th>Nome</th>
            <th>Endereço</th>
            <th>Status</th>
            <th style="width: 120px;">Ações</th>

          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pessoa>
          <tr>

            <td>{{pessoa.codigo}}</td>
            <td>{{pessoa.nome}}</td>
            <td>{{pessoa.endereco.logradouro}}</td>

            <td>{{pessoa.ativo  === true  ? 'Ativo' : 'Inativo'}}</td>


              <!-- <label>{{tipo.value === 'RECEITA' ? 'Recebimento' : 'Pagamento'}}</label> -->
            <!-- <td><button pButton type="submit" label="Editar"></button> -->
            <td><button pButton type="button" icon="pi pi-pencil" iconPos="left" pTooltip="Editar"
                tooltipPosition="top" [routerLink]="['/pessoas', pessoa.codigo]"></button>

              <button style="margin-left: 5px;" pButton type="button" icon="pi pi-trash" iconPos="left"
                pTooltip="Excluir" tooltipPosition="top" (click)='confirmarExclusao(pessoa)'></button>
            </td>

          </tr>
        </ng-template>
      </p-table>

    </div>

    <div class="ui-g-12">
      <a pButton label="Nova Pessoa"></a>
    </div>
  </div>
</div>
