<div class="container">
  <div class="ui-g">
    <form autocomplete="off" (ngSubmit)="listarTodas()">
      <div class="ui-g-12">
        <h1>Categorias</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Nome categoria</label>
        <input pInputText type="text" name="nome" />

      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Pesquisar"></button>
      </div>

    </form>
  </div>
  <div class="ui-g">
    <div class="ui-g-12">
      <p-table [value]="categorias" [paginator]="true" [responsive]="true" [rows]="5">
        <ng-template pTemplate="header">
          <tr>
            <th>Codigo</th>
            <th>Nome</th>
            <th style="width: 120px;">Ações</th>

          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-categoria>
          <tr>

            <td>{{categoria.codigo}}</td>
            <td>{{categoria.nome}}</td>
            <td><button pButton type="button" icon="pi pi-pencil" iconPos="left" pTooltip="Editar"
                tooltipPosition="top"></button>

              <button style="margin-left: 5px;" pButton type="button" icon="pi pi-trash" iconPos="left"
                pTooltip="Excluir" tooltipPosition="top" ></button>
            </td>

          </tr>
        </ng-template>
      </p-table>

    </div>

    <div class="ui-g-12">
      <a pButton label="Nova Categoria"></a>
    </div>
  </div>
</div>

